
* {
    box-sizing: border-box;
}

body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    /*height: 100vh;*/
    margin: 20px 0 50px;
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    border: 1px solid #192a56;
    background-color: #192a56;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    animation: all .5s ease-in-out;
}

button:hover {
    outline: none;
    background-color: white;
    border: 1px solid #192a56;
    color: #192a56;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 6px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 2em;
    height: 100%;
}

.sign-in-container, .sign-up-container {
    left: 0;
    width: 100%;
    z-index: 2;
}
.sign-in-container .inputs, .sign-up-container .inputs{
    padding: 1.5em;
}

.goto{
    padding: 1.5rem .5rem;
}
